[2019-11-19 09:59] github-actions opened #5 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-11-19 11:55] #5 closed, assigned to nobody

[2021-06-07 23:10] bufferoverflow opened #102 "Why another oidc library. could you be more precise on this?"
I have no clear picture about this right now, but it seems there are not that many alternatives around, so I created this issue https://github.com/coreos/go-oidc/issues/305 and had a look at https://openid.net/developers/certified/ also no go library.

I basically agree with https://github.com/caos/oidc#why-another-library but what are the other libraries you looked at and what are your goals, e.g

[2021-06-09 08:46] fforootd commented on #102
Hi @bufferoverflow thanks for the good input! We will try to make more clear what our goals are.

TL;DR we are close to certify the Go Lib (initially as RP and later as OP as well)

[2021-06-14 13:59] #102 closed

[2021-08-27 12:19] livio-a opened #116 "Make this project better accessable for external contributors"
- [x] enable workflow on PR from forks #117
- [x] sem rel #117
- [ ] publish some roadmap / ideas
- [x] create issue templates #117
- [x] discussions?
- [ ] PR template
- [ ] documentation
  - [ ] explain when and how to use what (package structure, also of examples)
  - [ ] diagram? (https://github.com/caos/oidc/issues/144#issue-1071600880)
- [x] update server example (see also #155)

[2021-09-02 09:38] kostyay opened #122 "client.Discover: Issuer matching is too strict"
**Describe the bug**
Currently `client.Discover` will fail if the provided `issuer` doesn't match the returned `issuer`. However this validation is too strict as it will fail with `oidc.ErrIssuerInvalid` even if i provide `https://my.oidc.com` in the function parameter but the returned value will be `https://my.oidc.com/` (real use case I encountered).

**Expected behavior**
I expect discover to s

[2021-09-03 05:14] livio-a commented on #122
Hi @kostyay

Thanks for reaching out.

I get your problem, but IMO loosen the validation won't solve it or just relocate it to somewhere else (e.g. token validation).

The problem is, that it's the OpenID Provider's choice whether its `issuer` has a trailing '/' or not. The Relaying Party will have to take over its decision.

[4.3 of OIDC Discovery](https://openid.net/specs/openid-connect-discover

[2021-09-08 06:54] fforootd commented on #122
Hi @kostyay

I am closing this issue for now 😁

Feel free to reopen this issue if the need arises again.

[2021-09-08 06:54] #122 closed

[2021-09-09 10:43] moximoti opened #124 "JWT Signature Validation: missing `kid` leads to invalid key error"
Hi, I'm currently implementing an OIDC RP in Photoprism. So first of all, thank you for this great library!

**Describe the bug**
No matching JWK found, if no `kid` header present in JWT but RemoteKeySet provides a single key with non-empty `kid` value. In this case we get "invalid key" error (pkg/client/rp/jwks.go:91)

**Expected behavior**
Either allow absence of `kid` value in this case and try

[2021-09-09 10:57] moximoti opened #125 "PKCE: verifier too short"
**Describe the bug**
Couldn't get OIDC RP with PKCE working with Keycloak. It seems Keycloak is checking the length of the `code_verifier`. While you're using a UUID for the verifier which is 36 chars, the spec says it needs to be at least 43 chars:
https://datatracker.ietf.org/doc/html/rfc7636#section-4.1

[2021-09-13 12:52] #125 closed

[2021-09-13 13:11] livio-a commented on #124
Hi @moximoti

Thanks for the feedback about the library 😃  and the bug!

I knew the library was no able to validate the signature if no `kid` is in the header but multiple keys are in the key set without `kid` (which is spec compliant).
Apparently it's also not able to validate if `kid` is only missing in the header but not key set.

I should be able to provide you with a fix by tomorrow evening.

[2021-09-14 06:46] livio-a commented on #124
Hey @moximoti

I just created a PR which would change the following:
- FindKey is deprecated in favor of FindMatchingKey which will return an error (ErrKeyNone / ErrKeyMultiple) instead of just the bool
- FindKey will wrap the new FindMatchingKey method to get the changes for finding keys without kid
- FindMatchingKey will iterate through the keys and now check for:
  - `use` and if `alg` header m

[2021-09-14 13:13] #124 closed

[2021-10-01 13:27] wgarunap opened #131 "unable to Introspect tokens if the issued host is different from the Introspect host"
**Describe the bug**
`rs.Introspect` method inside req is created to inspect the token and host of this request is always be the host of Introspect endpoint host. As of my understanding token issued host and  Introspect endpoint can be different in this case token validation will fail.

**To Reproduce**
1. Create a access token for different host from Introspect url host.
2. try to introspect the

[2021-10-04 17:36] fforootd commented on #131
Hi @wgarunap

Can you please elaborate a little more in which way you are using our library?

The current implementation of the library should already allow the introspect and token urls to differ.

@livio-a correct me if I am wrong here 😁

[2021-10-04 17:47] wgarunap commented on #131
Hi @fforootd

Assume token is issued for xyz.com host and my authentication server is hosted in auth.com, now when user send a request with a generated token from xyz.com and if I Introspect the token from backend this will always fail.

Reason: Introspect req doesn't know the issued host. cause request is generated inside the Introspect method.

[2021-10-04 17:58] fforootd commented on #131
If I understand you correctly your backend (Resource Server) tries to send a token to the introspect endpoint of auth0, right? In this case our library should not really care about the content of the token.

As seen [here](https://github.com/caos/oidc/blob/main/pkg/client/rs/resource_server.go#L74) the library uses the inputs provided through the configuration with `tokenURL` and `introspectURL`.

[2021-10-23 21:35] zarkoc opened #135 "Flow example - implicit flow"
Hi all,

Im trying to implement a client using the Implicit flow.
But the question is also more general, I cant find how and where to set up the response_type so that I can change the flow to implicit.

To me its seems that the default flow is the authorization_code flow.

Thanks,
Zarko

[2021-10-26 07:15] #135 closed, assigned to nobody

[2021-10-26 09:02] jozuenoon opened #137 "Failed userinfo unmarshal with AWS Cognito due to email_verified being text field."
**Describe the bug**
AWS Cognito returns userinfo with email_verified field as text.

"userinfo failed: failed to unmarshal response: json: cannot unmarshal string into Go struct field .email_verified of type bool..."

**To Reproduce**
Steps to reproduce the behavior:
1. Configure AWS Cognito with the example from the `examples` folder.
2. Try to log in.

**Expected behavior**
Should read userinfo

[2021-11-01 20:50] jozuenoon commented on #137
This PR is for Cognito https://github.com/caos/oidc/pull/139. I will try to scratch something for Auth0 as well.

[2021-11-02 08:14] #137 closed

[2021-11-08 12:41] yk-eukarya opened #140 "`kid` is missing after in the issued JWT access token"
**Describe the bug**
`kid` is missing after in jwt access token issuing

**To Reproduce**
Steps to reproduce the behavior:
1. Create a client with `op.AccessTokenTypeJWT` access token type
2. Provide a key with X.509 cert
3. Follow the `oidc.GrantTypeCode` flow
4. The jwt issued by `/oauth/token` endpoint does not contains `kid` in its header

**Expected behavior**
Issued access token should conta

[2021-11-08 13:06] livio-a commented on #140
Hi @yk-eukarya

Thanks for the report. I will have a look at it later.

[2021-11-09 08:30] livio-a commented on #140
From your description I believe you implemented an OP with this library, right?

And I might have found the problem. I'll test with a X.509 cert to be completely sure. In ZITADEL we use RSA private keys.

Here's how we push the current signing key to the key channel (note that we set a KeyID for the WebKey)
https://github.com/caos/zitadel/blob/af1f10b7cac7f438b161cbc508e19fe69c4f2149/internal/auth

[2021-11-11 17:50] arianvp opened #141 "Implement device authorization grant?"
**Is your feature request related to a problem? Please describe.**
I want to authenticate my smart device which has no web browser with my phone.  The https://oauth.net/2/device-flow/ flow fixes this.

**Describe the solution you'd like**
Implement the https://oauth.net/2/device-flow/ flow

**Describe alternatives you've considered**
none

**Additional context**
https://oauth.net/2/device-flow/

[2021-11-12 07:30] livio-a commented on #141
Hey @arianvp

We definitely have it on the list for our OP implementation ZTIADEL(https://docs.zitadel.ch/docs/apis/openidoauth/grant-types) but forgot to list it here in the readme.

You would be more interested in the RP part, right?

[2021-11-12 07:49] livio-a commented on #140
Hey @yk-eukarya

I now tried with a test certificate and it worked as well. The point is to provide a keyID for the signing key (as shown above)

Here's my short test.

I generate the cert from the private key and add it to the signing key:
(for laziness i hold the cert in a global var)
[code]

i computed and added both sha of the cert (from my global var - obviously only works because i have only

[2021-11-12 18:13] alex88 opened #142 "Access token validation"
**Is your feature request related to a problem? Please describe.**
I'm trying to use the library not only for the first login but also to keep the access token in a cookie and then verify it on every request. However it seems there are only methods to verify the id token (which I don't need) and not the access token give a provider.

**Describe the solution you'd like**
Have a function that given

[2021-11-14 10:21] arianvp commented on #141
Actually interested in both

[2021-11-15 08:13] livio-a commented on #142
Hi @alex88

First of all, thanks for the issue.

I'm not completely sure if you want to validate the access_token on the client or resource server (API) side.
For JWT access_token there's now finally a RFC: https://www.rfc-editor.org/rfc/rfc9068.html
I believe this would be handy for clients or resource servers.

We have not yet decided whether and, if so, when we will implement it.
Would you cons

[2021-11-15 09:47] livio-a commented on #141
It would certainly be a nice enhancement for ZITADEL as well, but to be honest, it's not high on the priority list right now.

Would you consider implementing one part or even both of them? 😃

[2021-11-17 20:29] yk-eukarya commented on #140
Thanks a lot for your help, that was very helpful. my implementation was wrong
[code]

[2021-11-17 20:29] #140 closed

[2021-11-18 09:22] livio-a commented on #140
Your welcome.

We might provide a function in the future to help create a key or change the channel type to an interface and create the SigningKey in the library itself from that interface.

[2021-11-21 03:17] esumit opened #143 "VerifyAccessToken doesn't work because DecryptToken not implemented yet"
**Describe the bug**
VerifyAccessToken doesn't work because  DecryptToken has not been implemented yet

**To Reproduce**
Steps to reproduce the behavior:
To use VerifyAccessToken functionality. it supposed to decrypt the access token and add values in claims. Then claims can be verified based on the validations. since DecryptToken not implemented so it doesn't. work

**Expected behavior**
VerifyAc

[2021-11-23 06:29] livio-a commented on #143
Hey @esumit

Thanks for the issue. You're right, at the moment the library does not handle de/encryption of tokens, whether RP nor OP.
The intention is to add this in the future. But we haven't had a use case ourselves yet. So I'd be interested to hear what yours is.

From your screenshot I believe you're trying to verify the access token on the OP. Is this correct?
If so, could you tell me more a

[2021-12-03 13:57] ovk commented on #141
I would be very interested in having device auth as well, as this is a hard requirement for our use-case.

[2021-12-06 00:19] TwiN opened #144 "Questions about the example"
Hey there,

My knowledge when it comes to hosting an OIDC provider is fairly limited, and I have a couple of questions I hope you'll be able to answer.

For the sake of verbosity, I plan on integrating the server implementation of this library in an existing application. It will therefore live alongside multiple other handlers. Furthermore, I'm only interested in the [app](https://github.com/caos/

[2021-12-08 14:44] livio-a commented on #144
Hi @TwiN

Thanks for these great questions. I'll do my best to answer them and sorry for the late response.

First of all, it certainly needs some more documentation and explanations about the structure and the examples, especially the server one. I like the idea of a small diagram to help people understand. I'll try to give you short overview here and will update the documentation and examples as

[2021-12-09 01:56] TwiN commented on #144
@livio-a Thank you so much for taking the time to answer me.

You and your fellow contributors have definitely done some amazing work.

I went into this with very little knowledge on the provider side of things, but after going through https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowSteps and https://www.rfc-editor.org/rfc/rfc6749.txt, I have to admit that bootstrapping an OP with so

[2021-12-09 01:56] #144 closed

[2021-12-13 18:31] alex88 commented on #142
Hi @livio-a, sorry for the delay..
My initial idea was to validate the access token in the resource server.
My use case was to build a custom auth proxy for grafana, this proxy would do the oauth part with this library and then after getting the access token I would have to validate and decode it and set appropriate grafana headers like user email/role etc.

Unfortunately I ended up not using this

[2021-12-23 05:21] duckfly-tw opened #145 "More examples with more detailed comment will help!"
**Is your feature request related to a problem? Please describe.**
Big thank for your efforts on this great project!
I want to build an OP based on this project, but the OP example is too fuzzy for me to make the features I want.

**Describe the solution you'd like**
Add or modify OP examples:
1. login with password, so it can help me safely processing login.
2. handle multiple client_id, so it ca

[2021-12-23 07:16] adlerhurst commented on #145
Hi @duckfly-tw

Thanks for your kind words. I will forward them to @livio-a 😉

During the Christmas season, we take a little longer because many people are on well-deserved vacation. We do our best to complete the examples.

Cheers

[2021-12-27 12:14] arianvp commented on #116
Hey!

One thing that would really help me as a contributor would be a more complete test suite.  I suppose you are running against the oidc conformance test suite, but I was wondering if there is also a plan to add a larger set of unit tests to make iterative development easier?  Going through the oidc conformance tests is a rather tedious manual process.

[2021-12-27 14:32] fforootd commented on #116
Hi @arianvp

We are definitly commited to improve the test coverage of this project over time.
Many of my collegaues are in there holidays these days, but we will check what we can do early next year to improve the situation 😁

[2021-12-27 14:33] fforootd commented on #143
Closing this issue as it looks inactive

[2021-12-27 14:33] #143 closed

[2021-12-27 14:34] fforootd commented on #142
Closing this issue as it looks resolved/discussed.

[2021-12-27 14:34] #142 closed

[2021-12-29 02:39] esumit commented on #143
@livio-a Sorry on the delay in my response. ​In my case - I tried to use VerifyAccessToken function !  on that flow I assumed that output of Decrypt function would be utilized by ParseToken (As ParseToken given the error)

func DecryptToken(tokenString string) (string, error) {
	return tokenString, nil //TODO: impl
}

then I thought  may be something supposed to  get implemented on DecryptToken ?

[2021-12-29 07:38] arianvp commented on #116
I hope everybody is enjoying their holidays! Talk to you in the new year then! 🎆🎇🧨

[2021-12-30 08:19] fforootd commented on #116
Looking forward to engage with you next year and have a safe start into 2022 🎆

[2022-01-05 20:05] raydeng83 commented on #145
This is a great project and you guys are awesome to open source it.

More examples and documentation will definitely help!

Best,
Le

[2022-01-05 23:13] adlerhurst commented on #145
Hi @raydeng83 thank you very much. @livio-a is doing a great job. Feedback like yours is why we are doing it. It makes working a pleasure 😊
If you have any suggestions please share them with us.

[2022-01-19 07:20] livio-a opened #146 "Multiple issuer support"
The library should be able to handle multiple issuers on a single OpenID Provider.

**Acceptance Criteria**

- [ ] whenever possible changes are done without breaking current interfaces / implementations of this library
- [ ] issuer can be selected based on http request / context
- [ ] default implementation of the OP interface supports single and multi mode

[2022-01-21 19:11] flyn-org opened #147 "Concurrency bug in NewOpenIDProvider()"
I built an OpenID provider that works from within an inetd-like scenario: the provider interacts with stdin and stdout, and it expects its parent process to create a socket before connecting this socket to the child's (i.e., the provider's) stdin and stdout. This seems to expose a concurrency bug in `NewOpenIDProvider()`. The symptom of this is an "unsupported signing algorithm" error later in the

[2022-01-22 12:05] candlerb opened #148 "Incorrect terminology used in README.md"
**Describe the bug**
The front page README.md is using incorrect terminology:
* It says "Relaying Party" [sic] instead of "Relying Party"
* It says "Origin Party" instead of "OpenID Provider"

**To Reproduce**
Steps to reproduce the behavior:
1. Browse to https://github.com/caos/oidc#features

**Expected behavior**
According to the [OpenID Connect Core](https://openid.net/specs/openid-connect-core

[2022-01-22 13:43] fforootd commented on #148
Whops 😂 you are right. I will check this later on 😉

[2022-01-22 13:45] fforootd commented on #147
Thanks for reporting this. Is it possible to get a snippet of the code you used this lib?

This would make it easier for us to understand the issue 😎

[2022-01-22 17:11] rohinish404 commented on #148
can i make a pull request correcting it?

[2022-01-22 17:23] fforootd commented on #148
@rohinish404 if you are interested in doing so, we would happily accept and review this 😎

[2022-01-22 17:28] rohinish404 commented on #148
i have made a pr. if there is anything else please let me know.😊

[2022-01-22 17:32] fforootd commented on #148
I will review this later today but thanks a lot!

There are some open issues depending on your needs an skill set one of those could be interesting. E.g device authorization is something people are looking for.

[2022-01-22 17:34] rohinish404 commented on #148
no worries.
Actually, i am still a beginner so i was looking for some good first issues.

[2022-01-22 18:21] #148 closed

[2022-01-22 18:22] fforootd commented on #148
Thanks for this PR, I need to check with the team next week if we have some `good first issues` 😁

[2022-01-23 00:11] flyn-org commented on #147
Please see https://gist.github.com/flyn-org/abb616eecd71b4531395e62d8e60f7b3 for an all-in-one source file.

This approach may seem odd, but it allows a student to run this with `nc -l -p 1024 -e ./service-oidc oidc http://127.0.0.1:1025/auth/callback SECRET student". (The assignment is at https://www.aquinas.dev/project/oidcC.)

Look for "FIXME: Kludge ..." for the portion in question.

[2022-01-26 20:45] fforootd commented on #147
@livio-a had you have time to check this one?

[2022-01-31 06:56] livio-a commented on #147
Hey @flyn-org

Thanks for the detailed description. Unfortunately, I still could not reproduce the exact error, but I think I've managed to find a solution anyway:
In PR https://github.com/caos/oidc/pull/151 the `go storage.GetSigningKey(ctx, keyCh)` is now called before creating the signer, because the `NewSigner` func will wait for the key before returning the Signer.

I also published a pre-rel

[2022-02-10 07:21] oliverpool opened #154 "rp.AuthURLHandler: stateFn could provide the current request as argument"
**Is your feature request related to a problem? Please describe.**

The client/rp provides a way to save a `state` during the login flow. To do this, the `rp.AuthURLHandler` func accepts a `stateFn func() string` argument.

However I would like my `state` to be dependent on the request (to extract some request parameters, path or query).

**Describe the solution you'd like**
Change the argument to

[2022-02-10 10:00] oliverpool commented on #154
I just realized that `state` should be used to prevent csrf attacks: https://cs.opensource.google/go/x/oauth2/+/d3ed0bb2:oauth2.go;l=150

In this case, it might make sense to somehow generate and handle it automatically.

[2022-02-10 10:12] sebastiaopamplona opened #155 "Starting an OP with an Issuer URL that contains a path breaks the endpoint handling"
**Describe the bug**
Starting an OP with an Issuer URL that contains a path breaks the endpoint handling.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the following patch:
[code]
2. Start example OP:
[code]

**Expected behavior**
1. Now that I have my OP running on `http://localhost:9998/path/to/my/op`, I expect the Discovery Endpoint to be:
[code]
but instead it **does not contain

[2022-02-14 07:26] livio-a commented on #155
Hey @sebastiaopamplona

Thank you for the issue as well as this PR.

I could reproduce your problem. And as you wrote, the discovery endpoint is serving the correct endpoints.
The problem is, that the example server does not serve the http handler correctly for that case.
Changing the http handler of the op to be served on the correct path will solve this problem:
[code]

The login will still be s

[2022-02-14 08:10] livio-a commented on #154
Hey @oliverpool

In our case we already have a unique id created and stored in the database, which we then use for the state. The stateFn was therefore was a simple option to provide a slightly more open possibility.

But I see what you try to achieve and passing the http request to the function seems a sensible solution to get the current state of the users in you application (e.g. requested page

[2022-02-14 08:13] livio-a commented on #147
Hey @flyn-org did you have time to try it with the new version?

[2022-02-14 13:17] flyn-org commented on #147
Testing your change is on my list of things to do. I just have not had time to do it properly yet.

[2022-02-14 13:25] livio-a commented on #147
No stress, I totally understand. It’s just been on my list as well to check the current state 😃

[2022-02-14 14:51] sebastiaopamplona commented on #155
Hi @livio-a , thank you very much for taking the time to clarify the matter :) Have a nice day!

[2022-02-16 08:19] livio-a commented on #155
Ok I close this the PR as well as this issue (it is referenced in the documentation issue anyway)

Don't hesitate to contact me/us if you have any further problem or question.

[2022-02-16 08:19] #155 closed

[2022-02-18 22:30] flyn-org commented on #147
I ran my tests a number of times, and the bug didn't pop back up. If you are confident in the logic of you fix---namely that it introduces a synchronization that ensures the signing key is set before things proceed---then I think we can close this. I only hesitate to fully rely on my testing because concurrency bugs tend to be nondeterministic and thus difficult to catch conclusively with testing.

[2022-02-24 20:15] fl0wx opened #160 "Help wanted for SPA + Code Flow"
How do i implement the REST Server Part of the Code Flow Authentication in combination with a SPA ?
Like statet here: https://security.stackexchange.com/questions/129928/oidc-flow-for-spa-and-restful-api

[code]

Any help with that? Or hints what to do?

Thansk and regards, fl0w

[2022-02-25 12:15] livio-a commented on #160
Hey @fl0wx

I'm unsure if I understand the question correctly. Do you want to create a REST API in Go and us it with a SPA?
If so, I would not recommend using the steps described. The SPA should get the token(s) on its own and just send the access_token to the REST API. The API then can for example verify it using the token introspection.

[2022-02-25 12:26] fl0wx commented on #160
@livio-a:

yes, but authorization will be done separate (ldap groups).

i read many times that this approach is not recommended because of security concerns. In that case i need to store the access token in the browser, right?

[2022-02-28 07:08] livio-a commented on #160
@fl0wx :

If you use PKCE (Proof Key for Code Exchange: [RFC 7636](https://datatracker.ietf.org/doc/html/rfc7636)) correctly then there's not much of a concern. You will have a randomly generated validation token instead of client_secret and store the access_token in the session storage of the browser.
There are a lot of certified OIDC libraries for all common SPA languages / frameworks which will

[2022-02-28 12:01] fl0wx commented on #160
ok thanks, i´ll try that.

Any recommendations regarding my authorization requirements? I cannot do authorization with oidc currently and have to query a separate backend (ldap). Whats the best way to pair that with oidc? check roles on every request (+cache)? Using a session ? or any other idea?

[2022-03-01 09:07] #147 closed

[2022-03-08 07:31] xslasd opened #162 "AuthRequestByID Missing field"
**Is your feature request related to a problem? Please describe.**
After the user logs in, call back /authorize/callback?id=。 At this time, the ID is authrequestid. I can't know the logged in user ID. Therefore, the relationship between the logged in user ID and authrequestid needs to be implemented by yourself. This may be a problem

**Describe the solution you'd like**
In / authorize / callback?

[2022-03-17 05:10] xslasd commented on #162
Every request will be 302 to the loginurl. After logging in, it will be 302 to / authorize / callback? id= 。 How to bind the login user ID and request ID at this time?

[2022-03-17 06:59] livio-a commented on #162
Hey @xslasd

I've just pushed the improved example implementation of the OpenID Provider: https://github.com/caos/oidc/pull/165

Although it's not completely, you should get an impression on how to implement it. It's mainly the storage interface and some login UI. The scope of the login UI depends on your needs and use case. The example shows a really basic password check without any 2FA.

A succe

[2022-03-17 07:46] fforootd commented on #162
If you want to handle a state while redirecting you can rely on the `state` param.

So normally it works like this:

1. The client redirect to the IdP and provides a state (among other things)
2. The user authenticates against the IdP
3. The IdP returns the auth code and the state (among other things)
4. The client uses the auth code to get the id_token and access_token
5. The client reads the use

[2022-03-18 02:04] xslasd commented on #162
Hey @livio-a
I'm glad to hear from you！
I understand your use process. It should be that I didn't express it clearly. My usage scenario is to separate IDP and identity authentication services, which leads to the problem. I want to use it like ory / Hydra, but I don't want to use ory / Hydra. It's a little heavy.

[2022-03-18 05:03] xslasd commented on #162
Therefore, during my use, I encountered some obstacles in the callback "/ authorize / callback? Id =" and endsession.
Sign in
1. The client redirects to IDP for authentication.
2. IDP redirects to the authentication service, issues the request ID, and logs in the user information.
3. The authentication service provides login information and request ID for binding. (my backend code implementation)

[2022-03-18 09:12] fforootd commented on #162
Ok, so you want to separate the authentication protocol from the users authentication right?
So you only want this library to handle the OpenID Connect part but the actual authentication should be happening somewhere else.

Do I understand this correctly?

[2022-03-18 12:05] xslasd commented on #162
yes. At the same time, I found that verifyidtoken is not implemented, and the naming in the storage interface method is not standardized.

[2022-03-18 12:09] xslasd commented on #162
I modified your code and it works.
`func VerifyIDToken(ctx context.Context, token string, v IDTokenVerifier) (oidc.IDTokenClaims, error) {
	claims := oidc.EmptyIDTokenClaims()

	decrypted, err := oidc.DecryptToken(token)
	if err != nil {
		return nil, err
	}
	payload, err := oidc.ParseToken(decrypted, claims)
	if err != nil {
		return nil, err
	}
`

[2022-03-18 12:09] xslasd commented on #162
I modified your code and it works.
`func VerifyIDToken(ctx context.Context, token string, v IDTokenVerifier) (oidc.IDTokenClaims, error) {
	claims := oidc.EmptyIDTokenClaims()

	decrypted, err := oidc.DecryptToken(token)
	if err != nil {
		return nil, err
	}
	payload, err := oidc.ParseToken(decrypted, claims)
	if err != nil {
		return nil, err
	}
`

[2022-03-25 09:16] fforootd commented on #162
hm @livio-a this looks odd, whats your take on this?

I regard to the separation of authN and OIDC.
Thats already done by this lib by relying on an internal state. So you only need to implement your login as stated in @livio-a [example above](https://github.com/caos/oidc/issues/162#issuecomment-1070384962)

[2022-03-25 14:40] livio-a commented on #162
the code above seems to only check the signature of the id_token. There are not checks for the issuer, audience, expiration and so on. I do not recommend using this, especially not in production!
The provided `VerifyIDToken` function of the rp package is implemented according to the ID Token Validation of the OIDC Core 1.0 spec (https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidati

[2022-03-28 07:33] fforootd commented on #160
Your IdP could query the LDAP an append the groups as claim to the userinfo/introspect endpoint or the tokens. The decision to cache or refresh depends on how much risk your service can take. Or in other words, if you need a high level of guarantees don't cache.

[2022-03-28 08:28] fl0wx commented on #160
Thanks i consider that. Everything is clear now, so ill close.

[2022-03-28 08:28] #160 closed

[2022-04-05 18:59] morigs opened #167 "RP client key as data instead of path to file"
We have client key stored in a database as a string. We want to pass it as an option when create an RP instance. However, there is only one option - `WithClientKey`. It accepts path to file. So we have to store key data to the fs and then pass a path to the temporary file.

There is already a function `ConfigFromKeyFileData`, we just need an `Option` that accepts raw data and sets `rp.signer` from

[2022-04-06 06:50] oliverpool commented on #154
In the end, I went using `golang.org/x/oauth2.Config.AuthCodeURL(state)` directly.

---

Actually I switched to https://github.com/coreos/go-oidc, because of the [IDToken.Claims](https://pkg.go.dev/github.com/coreos/go-oidc/v3/oidc#IDToken.Claims) which allows to unmarshal the user claims directly

[2022-04-06 06:50] #154 closed

[2022-04-06 07:09] livio-a commented on #167
Hey @morigs

This makes total sense. I've just created a PR (https://github.com/caos/oidc/pull/168).
I created a new function `WithJWTProfile` to make it more clear what the key / option is intended for (like PKCE: `WithPKCE()`).
To keep it non breaking, i deprecated `WithClientKey` and the new function will just set the signer, but with one of the provided ways:
- `SignerFromKeyPath(path string)`

[2022-04-06 09:11] livio-a commented on #167
Until the PR is merged, you can use the corresponding prerelease: v1.3.0-beta.1

[2022-04-06 09:14] morigs commented on #167
Thank you, this is not critical right now. But knowing ETA for release would be cool

[2022-04-06 11:12] fforootd commented on #167
normally it should not take us more than 5-10 days to get this merged 😁

[2022-04-06 11:24] fforootd commented on #154
Sorry that we could not help. But thanks for the request anyway.

[2022-04-07 05:44] Place1 opened #169 "Support for client_credentials (server)"
**Is your feature request related to a problem? Please describe.**

The server implementation of /authorize doesn't support the "client_credentials" grant type yet

[code]

I'd like to make use of the client_credentials grant so that I can implement a solution that allows applications to request service tokens.

The application client would use the "client_credentials" grant to receive a token wit

[2022-04-07 16:46] adlerhurst commented on #169
hi @Place1

Thanks for your request. 🙏🏻

@livio-a will answer your question as soon as possible

[2022-04-08 07:16] Place1 commented on #169
Thanks for taking a look! I’d be happy to elaborate on the use case or help
with implementation where possible

On Fri, 8 Apr 2022 at 2:47 am, Silvan ***@***.***> wrote:

[2022-04-09 01:32] Place1 commented on #169
Here’s a link that describes my use case:
https://auth0.com/blog/using-m2m-authorization/

I’ve basically got a central oidc service that I’d like to use for service
authentication using client_credentials grant as described in the article.

The oidc service issues JWTs so that services can make authenticated api
calls via an api gateway that verifies the token.

Do you have a link about the JWT P

[2022-04-11 09:29] fforootd commented on #169
Got it!

`JWT Profile` is defined in [RFC 7523](https://datatracker.ietf.org/doc/html/rfc7523) and can be used as a more secure alternative to `Client Credentials`. The TL;DR is that with a private public key mechanic you can authenticate a `machine` or `client` against your IAM system to receive an `Access Token`.

So for example when you are working with ZITADEL (our OSS IAM) we recommend using

[2022-04-11 22:25] Place1 commented on #169
Thanks for the detailed information and links.

So if i'm understanding correctly the flow works like this:

1. the machine has a private key which it uses to generate a JWT assertion (signed jwt)
2. it sents that to the token endpoint with the jwt-bearer grant type
3. caos/oidc implements client assertion validation by checking the assertion is signed with a trusted public key (shared previously)

[2022-04-14 08:10] #167 closed

[2022-04-15 04:24] Place1 commented on #169
I've posted a PR here: https://github.com/caos/oidc/pull/172

[2022-04-22 15:57] fforootd opened #174 "⚠️ IMPORTANT NOTICE ⚠️ - Relocation of this project"
## What happens

In order to improve our commitment to ZITADEL with its libraries and tools being open source, we will relocate this repository to the newly created [ZITADEL organisation](https://github.com/zitadel).

## When will this be done

Beginning from **27.04.2022** this repository will be newly located here -> [oidc](https://github.com/zitadel/oidc)

## How to migrate

### Go Mod

To migr

[2022-04-26 21:49] fforootd opened #178 "Integrate Codeql"

[2022-04-26 21:52] fforootd commented on #174
Moving completed at 23:52 CET

[2022-05-09 13:06] #169 closed

[2022-05-10 07:53] #174 closed

[2022-05-16 20:19] vanpelt opened #181 "Support the device code flow"
**Is your feature request related to a problem? Please describe.**

When creating CLI or native apps the [device code flow](https://tools.ietf.org/html/rfc8628) is the preferred grant type to get access tokens into a users environment.

**Describe the solution you'd like**

Examples and logic for supporting the device code flow in this library would be amazing.  I would be happy to contribute.

**

[2022-05-16 20:21] vanpelt commented on #181
Whoops!  Didn't see the existing issue #141 .  Consider this a +1, closing for now.

[2022-05-16 20:21] #181 closed

[2022-05-16 20:24] vanpelt commented on #141
💯  plus one.  Good to know I'm not the only one excited about this.

[2022-05-18 08:48] arianvp opened #182 "GetClaim() returning interface is awkward to use. Use output parameter instead?"
**Is your feature request related to a problem? Please describe.**

The following code is awkward as I need to guess that the structure that `GetClaim()` returns is `map[string]string`.
[code]

**Describe the solution you'd like**

I'd prefer `GetClaim()` to take an output parameter instead. so that I can marshal safely to my own struct type:
[code]

[code]

**Describe alternatives you've consider

[2022-05-19 09:27] arianvp commented on #182
No rush. The code works as is.  It's just awkward.

[2022-05-31 11:45] adlerhurst opened #183 "missing state in redirect of implicit flow"
**Describe the bug**

as described here: https://discord.com/channels/927474939156643850/927866013545025566/981120399658082334

**Expected behaviour**

The redirect should include the state field.

[2022-06-21 05:24] #183 closed

[2022-06-21 05:37] livio-a commented on #183
cherry picked into `dynamic-issuer` and tagged with [v2.0.0-dynamic-issuer.3](https://github.com/zitadel/oidc/releases/tag/v2.0.0-dynamic-issuer.3)

[2022-07-01 21:42] braginini commented on #141
Same here. We'd love to see this feature implemented.
The only blocker for us not to go with zitadel at https://github.com/netbirdio/netbird

[2022-07-02 13:01] fforootd commented on #141
I like to hear about this 🥰

@hifabienne @livio-a let's discuss this again. Maybe it's time to solve this now. 😜

[2022-07-04 07:25] livio-a commented on #141
I suggest that we take a look at it at one of the two meetings tomorrow.

[2022-07-27 09:56] braginini commented on #141
FYI: We've just merged generic OIDC support in NetBird. Will be testing integration with Zitadel soon. @livio-a did you have any progress on the device flow?
https://github.com/netbirdio/dashboard/issues/9#issuecomment-1195553918

[2022-07-27 21:01] fforootd commented on #141
@braginini love to hear this

Let me chat with @hifabienne and @livio-a on how to schedule this.
We are close to release ZITADEL v2 and afterwards some of our stuff might have time to look at this.

[2022-08-02 19:43] morigs opened #203 "`invalid memory address or nil pointer dereference` when accessing UserInfoAddress"
**Describe the bug**
When user info is missing address field it's decoded into `userinfo` struct where `Address` field has `UserInfoAddress` type but `nil` value.

`UserInfoAddress` type doesn't expect `nil` as receiver, so code like `info.GetAddress().GetCountry()` panics.

**To Reproduce**
Steps to reproduce the behavior:
1. Unmarshal userinfo without address
2. Try `info.GetAddress().GetCountry

[2022-08-02 20:46] fforootd commented on #203
This sound really like a bug 😁

Thank you for reporting this.

CC @hifabienne

[2022-08-17 13:09] livio-a commented on #203
my proposal would be to do de nil check in `GetAddress`:

[code]
so it would return nil, which i believe was the intention at first anyway

@morigs or @adlerhurst is this even breaking?
the `UserInfoAddress` return value is an interface and and thus could already have been nil

[2022-08-17 13:20] morigs commented on #203
Well, it should be breaking. However, using reflection to detect nil here looks a bit strange...
It's like embedding workaround right into codebase instead of fixing)

[2022-08-18 18:28] muhlemmer commented on #145
Hi, are you open for pull request? I've just started working with your project and I find that the Godoc can be improved in some points. I find myself flipping through go doc, examples and source to find out how to implement the `Storage` interfaces. Since I',m already doing the research effort, it should take much to supplement the documentation in the process.

For example,
https://github.com/zi

[2022-08-18 19:24] muhlemmer commented on #203
Any interface type can be compared directly to `nil`:
[code]
However, that's kind of pointless, because if `u.Address == nil`, than a `nil` was going to be returned anyway. The OP describes the panic in case of chaining.

There are multiple solutions to this problem:

## 1. Make it the responsibility of the caller

One might argue that chaining is not supported by the project and is unsafe. The ca

[2022-08-19 22:03] muir opened #204 "example server isn't enough for testing"
**Is your feature request related to a problem? Please describe.**

I'm using the oidc library as both client and server.  When using it as a client, I need a server to test against (not my own, since my own is a proxy).   The example server isn't configurable enough to use in tests.

**Describe the solution you'd like**

What I would like to do is make changes to the example server so that it's m

[2022-08-21 00:55] iambudi opened #206 "Example for api instrospection"
In the `example/client/api` i always get 401 from token instrospection when calling /protected.
[code]
The step:
1. Get an access token from `example/client/service`
2. Pass the token as Authorization Bearer to /protected.

Did i miss something?

[2022-08-22 05:40] livio-a commented on #204
Hey @muir I'll look at this issue and your PR this week.

[2022-08-22 05:52] livio-a commented on #206
Hey @iambudi

The introspection endpoint is a protected endpoint of the Authorization Server itself.
Therefore the API will need to authenticate. In the example it does so with the [JWT Profile](https://www.rfc-editor.org/rfc/rfc7523.html). See also our docs in ZITADEL: https://docs.zitadel.com/docs/apis/openidoauth/endpoints#introspection_endpoint
<img width="993" alt="image" src="https://user-im

[2022-08-22 10:08] muhlemmer commented on #203
Please discard the rant above. I missed the fact that we can just return an empty instance of userInfoAddress in case of nil, with no further complications.

[code]

I will submit a PR in the next minutes.

[2022-08-25 15:37] morigs opened #208 "No method to get all all claims"
**Is your feature request related to a problem? Please describe.**
In our service we need to get all claims. Currently, UserInfo allows getting only known claims by name.

**Describe the solution you'd like**
Just additional method `GetClaims() map[string]any` in `UserInfo` interface

[2022-08-30 07:05] morigs commented on #208
@livio-a this is a critical feature to us, could you pls help with review of the PR? Do we need to provide any info/help?

[2022-08-30 07:53] fforootd commented on #208
Hi @morigs we have our planning meeting today afternoon and will come back with an ETA after that.

[2022-08-30 14:07] livio-a commented on #208
I'll approve the PR in a sec to solve the immediate need until we have a proper solution like requested here: https://github.com/zitadel/oidc/issues/182

[2022-08-30 14:09] #208 closed

[2022-08-31 07:47] livio-a commented on #203
Hey @muhlemmer I finally found some time to go through all the comments and your PR.

The problem is caused by the fact that checking an interface on nil will only check the interface itself and not the underlying value. Therefore @morigs used a temporary workaround in his code using reflection.
The PR therefore does not solve the problem for all cases, e.g. this would still panic:
[code]

While d

[2022-09-04 11:48] Adirelle commented on #145
Hi there,

I am in the same situation as [muhlemmer](https://github.com/muhlemmer). I am try to implement an OP for development and testing purpose, but even though there is an example, the interfaces to implement lacks some comments. Moreover, I have the feeling they are a bit bloated, e.g. there are too many methods in each Storage and some interfaces seem to have several responsibilities. This

[2022-09-06 14:29] livio-a commented on #145
Hey @muhlemmer and @Adirelle

We're certainly open for PRs 😃 and would appreciate any help. And there's certainly lots of improvement possible on documentation. 😉

We started this project as we needed an OP for out own product (https://github.com/zitadel/zitadel) and wanted to separate the functionality into a package. We tried to abstract it as good as possible, but I'm sure there's room for impr

[2022-09-09 11:55] Adirelle commented on #145
I think that what @muhlemmer proposes would be a good start to improve the interface.

As for the interfaces, I think what is missing is some documentation about the entity-relation model used by the OP, and how entities are used. This could allow to write services and repository interfaces, which are easier to reason about and to implement. They could come as a separate package, with adapters to

[2022-09-15 14:18] morigs commented on #203
Hi, any plans for fixing this?

[2022-09-15 14:32] fforootd commented on #203
Sure, this week @livio-a is in vacation but I am sure he will look into this next week

[2022-09-16 12:57] muhlemmer commented on #203
@livio-a , yes you are right. I've adjusted the tests to use actual json and I was able to reproduce the same panic.

There are two options to fix this:

1. Catch the `nil` value for `a.Address` in `userinfo.Unmarshal` and set it to new instance of `userInfoAddress` -> see updated PR #207;
2. Don't use pointers for `userInfoAddress` implementation -> see new PR #211;

Both options work, and might

[2022-09-26 16:52] maxdebayser opened #214 "Missing Copyright notice"
As of revision fca6cf94339eacb7db9b4f5fc5c9b8e66781c495, the LICENSE file has an [incomplete copyright notice](https://github.com/zitadel/oidc/blob/fca6cf94339eacb7db9b4f5fc5c9b8e66781c495/LICENSE#L189):

[code]

I've developed derivative work based on the `example/server` code and I need to know the correct copyright holder to give credit and comply with the Apache License.

By the way, thanks a

[2022-09-26 17:00] maxdebayser commented on #214
This article has some nice suggestions, such as "Copyright The XYZ Contributors."

https://www.linuxfoundation.org/blog/blog/copyright-notices-in-open-source-software-projects

[2022-09-26 22:46] fforootd commented on #214
Hm I think we had such a discussion in the past in an other project.

The mentioned part is only intended to be used as [template checkout this](https://github.com/zitadel/oidc/blob/main/LICENSE#L178)

I think we should apply a CLA if we need to fix this for good. Or do you interpret that in an other way?

[2022-09-27 12:36] maxdebayser commented on #214
Yes, exactly, I would like to add the template part of the license to derivative work and I need something to insert in place of "[name of copyright owner]" to give due credit to the authors of this library.

[2022-09-27 12:39] maxdebayser commented on #214
And yes, you're right. It's not the LICENSE file that should have the copyright, but the NOTICE file. However there is no notice file in the zitadel/oidc repository.

[2022-09-27 15:13] maxdebayser commented on #214
Thanks a lot. I've found the PR, it's exactly what I had in mind.

[2022-09-27 23:19] muir opened #218 "proposal: improve logging"
**Is your feature request related to a problem? Please describe.**
Implementing `op` and `rp` integrations I had lots of bugs.  I only found those bugs by adding 100s of prints to the code.

**Describe the solution you'd like**
After [xop](https://github.com/muir/xop-go) is released (should be in a couple weeks or less), I would like to add logging everywhere.  This will require changing many func

[2022-09-30 05:28] #214 closed

[2022-09-30 05:44] #204 closed

[2022-09-30 09:08] braginini commented on #141
Hey guys, any progress here?

[2022-09-30 13:06] hifabienne commented on #141
Hi @braginini

Sorry we have not yet started with this. And currently we can't tell you a specific time when this will be finished, since we still have some other features that are higher in priority.
We still think that this is something we like to implement soon.

Also PRs are highly appreciated. 😃

[2022-10-18 07:04] braginini opened #235 "Example storage.go doesn't return x5c, x5t props in keys endpoint"
**Describe the bug**
Hey folks.
We are experimenting with embedding Zitadel OIDC in [NetBird](https://github.com/netbirdio/netbird). We took the example project as a foundation, and it seems like everything is alright, except for one point related to the JWT keys endpoint.

Our management service uses the discovery endpoint `"/.well-known/openid-configuration"` to fetch the configuration. Then it

[2022-10-20 13:03] braginini commented on #235
The solution was as described here:
https://github.com/zitadel/oidc/issues/140#issuecomment-966894422

Quick and dirty:

[code]

[2022-10-20 13:05] fforootd commented on #235
Hey @braginini sorry for not responding in time 😢 we where quiet in a rush to get some stuff done.

[2022-10-20 13:10] braginini commented on #235
You did great, I used Discord and your folks helped there.

[2022-10-20 13:17] fforootd commented on #235
Ahhhh, i missed that one 😁

For reference, for others https://discord.com/channels/927474939156643850/1031827610902204458

[2022-11-09 07:50] shnplr opened #241 "How to set prompt on authorize request"
**Is your feature request related to a problem? Please describe.**
Trying to set a prompt value in authorization request

**Describe the solution you'd like**
Allow WithPrompt to be included in the URL produced by AuthURL() inside rp.AuthURLHandler()

**Describe alternatives you've considered**
New to the language but couldn't see an obvious way to inject the prompt AuthURLOpt into the authorizati

[2022-11-21 20:46] fforootd commented on #241
@livio-a can you glance into this?

[2022-11-22 15:08] livio-a commented on #241
Hey @shnplr

I see the problem. The `AuthURLHandler` currently does not allow to do so.
It's only possible in the `AuthURL` function:
[code]

I'll create a PR to change it and for the `CodeExchange` / `CodeExchangeHandler`.

[2022-11-24 13:19] michaelholtermann opened #246 "Enhance id_token with custom claims"
**Is your feature request related to a problem? Please describe.**
My login information is provided a legacy system, not compliant to any standard. It's two-phased and reads quite usual:

1. user logs in via username/password, the legacy system returns a secret (some token, but not OIDC compliant)
2. now I can call the legacy system with that secret and reveal things like user name, mail address,